<nav class="navbar has-background-dark">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <h1 class="app-name has-gradient-text">Project Planner</h1>
      </a>
    </div>
  
    <div class="navbar-menu is-spaced">
      <div class="navbar-end is-spaced has-margin-right">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link has-gradient-text">
            Menu
          </a>
          <div class="navbar-dropdown is-boxed is-right" >
            <a class="navbar-item" href="">
              My Boards
            </a>
            <a class="navbar-item" href="">
              Logout
            </a>
          </div>
        </div>
      </div>
  
    </div>
  </nav>

