<div class="container">
    <div  class="row columns is-multiline">
        <div *ngFor="let number of numbers" class="column is-3">
        <div class="card small">
            <div class="card-content">
            <div class="media">
                <div class="media-content">
                <p class="title is-4 no-padding">title</p>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#" class="card-footer-item">View</a>
                <a href="#" class="card-footer-item">Delete</a>
            </footer>
            </div>
        </div>
</div>
