<div class="board-column">

    <editable class="column-title" (save)="update()" (cancel)="cancel()">
        <ng-template viewMode>{{ colTitle }}</ng-template>
  
        <ng-template  editMode>
          <input class="column-title-edit" editableOnEnter editableOnEscape [formControl]="control" />
        </ng-template>
      </editable>

    <div class="tasks-container" cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)">
        <div class="task" *ngFor="let task of tasks" cdkDrag>
                    {{ task.title }}
        </div>
    </div>
    
    <div *ngIf="isAddTaskInputVisible">
        <form [formGroup]="addNewTaskFormGroup" >
            <input class="input is-primary" (keyup.enter)="onNewTaskInputEnter()"  [formControlName]="'newTaskTitleControl'" type="text" id="newTaskTitleControl" placeholder="Press enter to save" style="margin-bottom: 5px; margin-top: 20px;">
        </form>
    </div>
    <button class="button is-primary" (click)="openAddTaskInput()">+ Add a card</button>
</div>


