<div class="root">
    
    <div class="board">
  
      <div class="board-bar">

        <editable class="board-name" (save)="updateBoardTitle()" (cancel)="cancelUpdateBoardTitle()">
          <ng-template viewMode>{{ value }}</ng-template>
    
          <ng-template editMode>
            <input class="board-name" editableOnEnter editableOnEscape [formControl]="control" />
          </ng-template>
        </editable>

        
        <button class="button is-small is-primary is-outlined button-has-margin-right" (click)="addNewColumn()">Add Column</button>
        <button class="button is-small is-primary is-outlined button-has-margin-right">Add Members</button>
      </div>
  
      <div class="board-wrapper">
  
        <div class="board-columns" cdkDropListGroup>
          <div *ngFor="let column of columns">

            <app-column [column]="column"></app-column>
  
          </div>
  
      </div>
  
    </div>
  
  </div>